@keyframes moving {
    50% {
     width: 100%;
    }

    100% {
     width: 0;
     right: 0;
     left: unset;
    }
   }
 /* ############################################################ */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #999;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
}
/* ############################################################ */
@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}
/* ############################################################ */
@keyframes downloadArrow {
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0.4;
    }
}

/* ############################################################ */
@keyframes love {
    0% {
      top: 0px;
      transform: rotate(0);
      -moz-transform: rotate(0);
      -webkit-transform: rotate(0);
      -o-transform: rotate(0);
    }
    20% {
      top: -10px;
      transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      opacity: .8;
    }
    40% {
      top: -20px;
      transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -webkit-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
      opacity: .6;
    }
    60% {
      top: -30px;
      transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      opacity: .4;
    }
    80% {
      top: -40px;
      transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      opacity: .2;
    }
    100% {
      top: -50px;
      transform: rotate(0);
      -moz-transform: rotate(0);
      -webkit-transform: rotate(0);
      -o-transform: rotate(0);
      opacity: 0;
    }
  }
